body {
    background-color: peachpuff;
    padding: 0 40px;

}
#main {
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    text-align: center;
    
}

#img-div {
    
}

#image {
    display: block;
    max-width: 100%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}

#img-caption {
    text-align: center;
}

#tribute-info {
    padding-top: 10px;
    margin-left: 5%;
}

#tribute-link {

}

.story {
    text-indent: 5%;
    margin-left: 1%;
    margin-right: 1%;
}

.companies {
    
}

#box {
    box-sizing: border-box;
}

.left {
    float: left;
    width: 20%;
    text-align: center;

}

.left > p,
.right > p {
    width: 50%;
    margin-top: 10px;
    padding: 10px;
    background-color: cyan;
    display: flex;
    justify-content: space-evenly;
}

.right {
    float: right;
    text-align: center;
    width: 20%;
}



@media only screen and (max-width:600px) {
    .left, .right {
        display: flex;
        justify-content: center;
        width:100%;
    }
}
