#main {
    background-color: peachpuff;
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    text-align: center;
    
}

#img-div {
    
}

#image {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#img-caption {
    text-align: center;
}

#tribute-info {
    margin-left: 5%;
}

#tribute-link {

}

.story {
    text-indent: 5%;
    margin-left: 1%;
    margin-right: 1%;
}

.companies {
    
}

#box {
    box-sizing: border-box;
}

.left {
    float: left;
    width: 20%;
    text-align: center;
    display: block;
}

.left p {
    width: 50%;
    margin-top: 10px;
    margin-right: 5px;
    padding: 10px;
    background-color: red;
}

.right {
    float: right;
    text-align: center;
    width: 20%;
}

.right p {
    width: 70%;
    margin-top: 10px;
    padding: 10px;
    background-color: cyan;
}

@media only screen and (max-width:600px) {
    .left, .right {
        display: flex;
        justify-content: center;
        width:100%;
    }
}